.container{
    border: 0;
    border-radius: 30px;
    background-color: white;
   
}
.cont{
    margin-top: 100px;
}
#header{
    background: #E31B23;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#logo{
    background: rgb(175, 11, 11);
    color: white;
    border-top-left-radius: 10px;
    font-family: "Sofia", sans-serif;
}
#abc
{
    margin-top: 50px;
    
}
#def
{
    width: 500px;
    padding-bottom: 150px;
    border-radius: 2px;
    margin-top: 30px;
}
#hij
{
    margin-top: 50px;
    margin-bottom: 80px;
}
#bid
{
    border-radius: 5px;
    background-color:#9b1807ea ;
    
}

#menu{
   list-style: none;
   margin: 0;
   padding: 0;
}

#menu li{
    display: inline-block;
}

#menu li a{
    color: #fff;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background: rgb(175, 11, 11);
}

#content{
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sidebar{
    background: lightskyblue;
}

#footer{
    background: maroon;
}

body{
    background-image: url(prism.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover{
    text-decoration: none;
}

#black{
    color: black;
}

.login
{
    margin-top: 100px;
}
#pqr
{
    margin-top: 7px;
}
#mno
{
   margin-bottom: 3px;
   margin-top: 5px;
}
#gatbl
{
    margin-bottom: 10px;
}


#abc
{
    border-radius: 50px;
    margin-top: 5px;
}


.header{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
   
    display: inline-flex;
}
.head1 .h1{
    color: black;
    font-size: 28px;
    
    
}
.conta
{
    margin-top: 100px;
}
#hgf
{
    height: 250spx;
}

.href
{
    margin-top: 150px;
}
#xyz
{
    height: 300px;
    
}
#bhg
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: greenyellow;
}
#bnm
{
    margin-left: 350px;
    margin-top: 50px;
}
.Contact
{
    margin-top: 100px;
}

#login{
    background: #ff0000;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
}



 table tr td{
    border: 1px solid black;
 }

 table th {
    border: 1px solid black;
 }

 .card{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1346px;
    margin: auto;
    margin-top: 20px;

   
 }

 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 
 #cont{
    padding: -10px;
 }

 #sub{
    margin: 15px;
 }

 #subm{
    background: #ff0000;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin: auto;
    width: 10%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
#subm:hover{
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px 0 rgba(50,50,93,.18),0 1px 6px 0 rgba(0,0,0,.08)!important;
    background: #ff3b3b;
}

#con5{
    padding: 0;
    border-radius: 10px;
}

.conta{
    border-radius: 10px;
}

#a1{
    margin-top: 15px;
}